.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.schoolinfo {
  border:1px solid grey;
  border-radius: 0 0 10px 10px;
}

#schoolBox {
  width: 48%;
  height: 200px;
}

#schoolsBox {
  display: grid;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  row-gap: 25px;
  /* margin-bottom: 40px; */
}

#adminrow:hover {
  background-color:#cdd0d7;
}

#usersidebar:hover {
  background-color:#d44646;
  transition: background-color 0.5s;
}

#usersidebar:active {
  background-color:#d44646;
  transition: background-color 0.5s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 1,
  'opsz' 48;
}

.burgermenu {
  display:flex;
  flex-direction:column;
}

.burgerlayer {
  background-color: rgb(255, 255, 255);
  width: 28px;
  height:6px;
  margin:3px;
  border-radius:2px;
}

.burgermenuactive {
  display:flex;
  flex-direction:row;
}

#body {
  width:75%;
}

#mainnav {
  display:flex;
  flex-direction: row;
  background-color:black;
  align-items:center;
  justify-content:center;
}

#container {
  display:flex;
  flex-direction:row;
  width:75%;
  justify-content:center;
  padding:0px;
}

#headersmall {
  width:50%;
  display:flex;
  flex-direction:row;
  align-items:center;
}

#allbuttonsnav {
  width:50%;
  display:flex;
  flex-direction:row;
  align-items:center;
  color:white;
  justify-content:flex-end;
}

#mainmenuitem {
  position:"relative";
  display:flex;
  flex-direction:row;
  color:white;
  text-decoration:none;
  padding:20px;
}

#mainmenuitemwithdropdown {
  position:"relative";
  display:flex;
  flex-direction:column;
  color:white;
  text-decoration:none;
  height:100%;
  padding:10px;
}

#mainmenuitem:hover {
  color:white;
  background-color: #282c34;
  text-decoration:none;
  padding:20px;
  transition: background-color 0.5s;
  /* transition: background-color 0.5s; */
}

#mainmenuitemwithdropdown:hover {
  color:white;
  background-color: #282c34;
  text-decoration:none;
  padding:10px;
}

#leftmenu {
  list-style-type: none;
  display:flex;
  flex-direction:row;
  align-items:center;
  height:100%
}

#rightmenu {
  list-style-type:none;
  display:flex;
  flex-direction:row;
  align-items:center;
  height:100%
}

#logo {
  width:40px; 
  margin-right: 20px; 
  filter: brightness(1000%);
}

#title {
  text-decoration: none;
  color:white;
  width:250px;
}

#burgermenu {
  display:none;
}

#pupilwindow {
  padding:30px 40px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  border-radius: 10px;
  position: fixed;
  background-color: white;
  left:25%;
  top:15%;
  z-index:2000;
  width:50vw;
}

#notificationsmallscreen {
  display:none;
}

#notificationbigscreen {
  display:flex; 
  flex-direction:row;
}

.customertop {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}

#dropdownitem {
  padding:10px;
}

#dropdownitem:hover {
  background-color:#282c34;
  padding:10px;
  width:100%;
  transition: background-color 0.5s;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  #schoolBox {
    width: 100%;
    height: 200px;
  }

  #slidinggallery {
    display:none;
  }

  #container {
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:center;
  }

  #headersmall {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items:center;
    width:40%;
  }

  #title {
    text-decoration: none;
    color:white;
    width:240px;
  }

  #allbuttonsnav {
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    color:white;
}

#pupilwindow {
  left:12%;
  top:15%;
  width:75vw;
}

}

@media screen and (max-width: 720px) {
  #logo {
    width:40px; 
    filter:brightness(1000%);
    }

  #title {
    text-decoration: none;
    color:white;
    margin:10px; 
  }  

  #mainnav {
    display:flex;
    flex-direction:column;
    background-color:rgb(0, 0, 0);
    width:100%;
  }

  #container {
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
  }

  #headersmall {
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
  }
  
  #allbuttonsnav {
    width:100%;
    display:none;
    flex-direction:column;
    align-items:start;
    color:white;
  }

  #leftmenu {
    list-style-type:none;
    display:flex;
    flex-direction:column;
    align-items:start;
    width:100%;
  }
  
  #rightmenu {
    list-style-type:none;
    display:flex;
    flex-direction:column;
    align-items:start;
    width:100%;
  }

  #burgermenu {
    display:inline;
  }

  #schoolBox {
    width:100%;
    height:200px;
  }

  #slidinggallery {
    display:none;
  }

  #notificationsmallscreen {
    padding:10px;
    display:flex; 
    flex-direction:row;
  }

  #notificationbigscreen {
    display:none;
  }

  .customertop {
    display:flex;
    flex-direction:column-reverse;
  }

  #pupilwindow {
    left:4%;
    top:15%;
    width:90vw;
  }
  
}